---
title: Contact Us
layout: default
permalink: /contact/
---

.page.page_contact
	picture
		source(srcset='{{site.baseurl}}/assets/images/banner_contact.webp', type='image/webp')
		source(srcset='{{site.baseurl}}/assets/images/banner_contact.png', type='image/png')
		img.banner(src='{{site.baseurl}}/assets/images/banner_contact.png')

	p The George on the Green
		br
		| Holyport, Maidenhead, SL6 2JL 
		br
		| Tel: 
		a(href='tel: 01628628317') 01628 628 317
		br
		| Email: 
		a(href='mailto: georgeonthegreen@gmail.com') georgeonthegreen@gmail.com
