---
title: Events
layout: default
permalink: /events/
---

.page.page_events
	picture
		source(srcset='{{site.baseurl}}/assets/images/banner_events.webp', type='image/webp')
		source(srcset='{{site.baseurl}}/assets/images/banner_events.png', type='image/png')
		img.banner(src='{{site.baseurl}}/assets/images/banner_events.png')

	p Whether you wish to relax with friends for a drink or to enjoy the best pub food Holyport has to offer, a warm welcome awaits you at The George on the Green, This 16th century traditional landmark inn sits on the village green in the heart of Holyport, which can be found between Maidenhead and Windsor in a beautiful Berkshire location.

	.events
		//- .event
		//- 	picture
		//- 		source(srcset='{{site.baseurl}}/assets/images/events/steve-live-music.webp', type='image/webp')
		//- 		source(srcset='{{site.baseurl}}/assets/images/events/steve-live-music.png', type='image/png')
		//- 		img(src='{{site.baseurl}}/assets/images/events/steve-live-music.png')
		//- 	h1 Live Music Night - New Year&apos;s Eve
		//- 	p Join us on December 31st for delicious food from 12 PM to 6 PM and live music by Steve Carroll starting at 9 PM. Tickets are only £10 and available at the pub from 8:30 PM until late. Gather your friends and join us for a fantastic night to welcome 2025!
		.event
			picture
				source(srcset='{{site.baseurl}}/assets/images/events/quiz2.webp', type='image/webp')
				source(srcset='{{site.baseurl}}/assets/images/events/quiz2.png', type='image/png')
				img(src='{{site.baseurl}}/assets/images/events/quiz2.png')
			h1 Quiz Night
			p Join us every 1st Monday of the month from from 7pm for exciting prizes. Please keep a look out for upcoming dates and information!
		.event
			picture
				source(srcset='{{site.baseurl}}/assets/images/events/wedding.webp', type='image/webp')
				source(srcset='{{site.baseurl}}/assets/images/events/wedding.png', type='image/png')
				img(src='{{site.baseurl}}/assets/images/events/wedding.png')
			h1 Wedding Venue - inside or outside
			p If you are looking for a small intimate dinner or have bigger celebration plans we would be delighted to discuss options which could include hiring the garden with a marquee or the whole venue.
		.event
			picture
				source(srcset='{{site.baseurl}}/assets/images/events/ascot.webp', type='image/webp')
				source(srcset='{{site.baseurl}}/assets/images/events/ascot.png', type='image/png')
				img(src='{{site.baseurl}}/assets/images/events/ascot.png')
			h1 Ascot Week
			p Off to Royal Ascot ? Why not stop in for breakfast to set up your day or drop in on the way back to complete this special event.
		.event
			picture
				source(srcset='{{site.baseurl}}/assets/images/events/christmas.webp', type='image/webp')
				source(srcset='{{site.baseurl}}/assets/images/events/christmas.png', type='image/png')
				img(src='{{site.baseurl}}/assets/images/events/christmas.png')
			h1 Christmas Parties
			p Take the opportunity to celebrate the festive period with family and friends by booking a table and enjoying our party menu offering with fine wines and ales.

	p Please 
		a(href='{{site.baseurl | prepend:site.url}}/contact') click here
		|  to email us to let us know that you are coming. 
