---
title: Menu
layout: default
permalink: /menu/
---

.page.page_menu
	picture
		source(srcset='{{site.baseurl}}/assets/images/banner_menu.webp', type='image/webp')
		source(srcset='{{site.baseurl}}/assets/images/banner_menu.png', type='image/png')
		img.banner(src='{{site.baseurl}}/assets/images/banner_menu.png')

	p Choose from a delicious seasonal menu with a focus on local produce and traditional pub classics to eat in or take away. We feature an ever changing specials board to further complement our main menu. 

	.grid.c4.g2.menu
		.s2.item
			h1 Valentines Day Menu
			p Celebrate the day of love with our special Valentine's Day menu – book now!
			a(target='_blank', href='https://gotg-web.s3.eu-west-2.amazonaws.com/TGOTG-Valentine-Day-Menu.pdf') click to view menu
		.s2.item
			h1 Saturday Breakfast
			p Whether you're after a hearty start or something light, we've got you covered! 9:30 - 11am.
		.s2.item
			h1 Early Bird Menu/Set Menu
			p Tuesday – Friday 12noon – 2:30pm
			p Tuesday – Friday 5:30pm – 7:00pm
			a(target='_blank', href='https://gotg-web.s3.eu-west-2.amazonaws.com/TGOTG-Early-Bird-Menu.pdf') click to view menu
		.s2.item
			h1 Lunch Menu
			p Wide range of light dishes and baguettes to satisfy informal business lunches and meeting up with friends 
			a(target='_blank', href='https://gotg-web.s3.eu-west-2.amazonaws.com/TGOTG-Lunch-Menu.pdf') click to view menu
		.s2.item
			h1 Evening Menu
			p Freshly prepared seasonal dishes 
			a(target='_blank', href='https://gotg-web.s3.eu-west-2.amazonaws.com/TGOTG-Evening-Menu.pdf') click to view menu
		.s2.item
			h1 Sandwich Menu
			p Freshly prepared sandwiches
			a(target='_blank', href='https://gotg-web.s3.eu-west-2.amazonaws.com/TGOTG-Sandwiches-Menu.pdf') click to view menu
		.s2.item
			h1 Gluten Free Menu
			p Freshly prepared seasonal dishes now gluten free!
			div Available on request
		.s2.item
			h1 Wine List
			p Come in and enjoy our wide range of great tasting wines
			a(target='_blank', href='https://gotg-web.s3.eu-west-2.amazonaws.com/TGOTG-Wine-List.pdf') click to view menu
		.s2.item
			h1 Sunday Lunch
			a(target='_blank', href='https://gotg-web.s3.eu-west-2.amazonaws.com/Sunday Sample menu.pdf') click to view menu
