nav.social
	ul
		| {% if site.facebook_username %}
		li
			a.icon.icon-facebook(href='https://facebook.com/{{site.facebook_username}}')
		| {% endif %}
		| {% if site.twitter_username %}
		li
			a.icon.icon-twitter(href='https://twitter.com/{{site.twitter_username}}')
		| {% endif %}
		| {% if site.instagram_username %}
		li
			a.icon.icon-instagram(href='https://instagram.com/{{site.instagram_username}}')
		| {% endif %}
		| {% if site.linkedin_username %}
		li
			a.icon.icon-linkedin(href='https://linkedin.com/{{site.linkedin_username}}')
		| {% endif %}
