doctype html PUBLIC "-//W3C//DTD HTML 4.0 Strict//EN"
html(lang='en', class='no-js')
	head(prefix='og: http://ogp.me/ns#')
		meta(charset='utf-8')

		title {{page.title | append:' -'}} {{site.title}}

		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='//fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap')
		link(rel='stylesheet', href='{{site.baseurl}}/assets/css/styles.css')
		link(rel='stylesheet', href='{{site.baseurl}}/assets/css/icons.css')

		meta(http-equiv='X-UA-Compatible', content='IE=Edge')
		meta(content='object', property='og:type')

		meta(content='summary', property='twitter:card')
		meta(content='{{site.baseurl | prepend:site.url}}/assets/icons/128.png', property='twitter:image')
		meta(content='{{site.baseurl | prepend:site.url}}', property='twitter:domain')
		meta(content='@{{site.twitter_username}}', name='twitter:site')
		meta(content='{{page.description}}', property='twitter:description')
		meta(content='{{page.title}}', property='twitter:title')

		link(rel='shortcut icon', type='image/png' href='{{site.baseurl | prepend:site.url}}/assets/icons/32.png')

		link(rel='apple-touch-icon', type='image/x-icon', href='{{site.baseurl | prepend:site.url}}/assets/icons/68.png')
		link(rel='apple-touch-icon', type='image/x-icon', href='{{site.baseurl | prepend:site.url}}/assets/icons/76.png', sizes='76x76')
		link(rel='apple-touch-icon', type='image/x-icon', href='{{site.baseurl | prepend:site.url}}/assets/icons/120.png', sizes='120x120')
		link(rel='apple-touch-icon', type='image/x-icon', href='{{site.baseurl | prepend:site.url}}/assets/icons/152.png', sizes='152x152')
		link(rel='apple-touch-icon', type='image/x-icon', href='{{site.baseurl | prepend:site.url}}/assets/icons/256.png', sizes='256x256')
		link(rel='apple-touch-icon', type='image/x-icon', href='{{site.baseurl | prepend:site.url}}/assets/icons/512.png', sizes='512x512')

		meta(content='{{site.baseurl | prepend:site.url}}/assets/icons/64.png', property='og:image')
		meta(content='64', property='og:image:width')
		meta(content='64', property='og:image:height')

		meta(content='{{site.title}}', property='og:site_name')
		meta(content='{{page.description}}', property='og:description')
		meta(content='{{page.title}}', property='og:title')

		meta(content='{{page.description}}', name='description')

		meta(property='og:url', content='{{site.baseurl | prepend:site.url}}')
		link(rel='canonical', href='{{site.baseurl | prepend:site.url}}')

	body
		header
			.container
				a.icon.icon-logo(href='{{site.baseurl | prepend:site.url}}')
				.mobile_hide {% include social %}
				a.mobile_hide.telephone(href='tel: {{site.telephone}}') Tel: {{site.telephone}}

		nav.primary
			.container
				label.icon.icon-hamburger.show_menu(for='show_menu')
				.mobile_show.telephone(href='tel: {{site.telephone}}') Tel: {{site.telephone}}
				input#show_menu(type='checkbox')
				ul
					li
						a(class='{% if page.title == \'Home\' %}active{% endif %}', href='{{site.baseurl | prepend:site.url}}') Home
					li
						a(class='{% if page.title == \'About Us\' %}active{% endif %}', href='{{site.baseurl | prepend:site.url}}/about') About Us
					li
						a(class='{% if page.title == \'Menu\' %}active{% endif %}', href='{{site.baseurl | prepend:site.url}}/menu') Food &amp; Drink
					li
						a(class='{% if page.title == \'Events\' %}active{% endif %}', href='{{site.baseurl | prepend:site.url}}/events') Events
					li
						a(class='{% if page.title == \'Contact Us\' %}active{% endif %}', href='{{site.baseurl | prepend:site.url}}/contact') Contact Us

		section 
			.container {{content}}

		.opening_times
			.container
				.divider
				h1 Opening Times
				p Open All Bank Holiday Mondays
				.times.grid.c4
					.time.s1
						b Monday
						p
							| Mon - 2pm - 8pm (Drinks Only)
					.time.s1
						b Tuesday - Saturday
						p 11am - 11pm
					.time.s1
						b Tuesday - Friday
						p
							| 12noon - 2:30pm (Food)
							br
							| 5.30pm - 9pm (Food)
					.time.s1
						b Saturday
						p
							| 12noon - 3pm (Food)
							br
							| 6pm - 9pm (Food)
					.time.s1
						b Sunday
						p 12noon - 8pm / 12noon - 4:30pm (Food)
		footer
			.container
				a.icon.icon-logo(href='{{site.baseurl | prepend:site.url}}')
				div
					.text
						div The George on the Green
						div Holyport, Maidenhead, SL6 2JL 
						div Tel: 
							a(href='tel: {{site.telephone}}') {{site.telephone}}
						div Email: 
							a(href='mailto:georgeonthegreen@gmail.com') georgeonthegreen@gmail.com
					| {% include social %}
				